# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
PongSFMLDesarrollo1/bin/**
PongSFMLDesarrollo1/obj/**
PongSFMLDesarrollo1/.vs/**
PongSFMLDesarrollo1/PongSFMLDesarrollo1/x64/**